@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

:root{
    --purple: #4b2f73;
    --old-purple: #332859;
    --blue-grey: #b0c1d9;
    --dark-green: #33401f;
    --green: #64732f;
}

body{
    font-family: 'Loto', sans-serif;
}

.cover-home{
	height: 100vh;
    background-image: url(../images/cover.png);
	background-position: 50%;
	background-size: cover;
}

.btn-book{
	border-color: white;
	color: white;
	margin-top: 2rem;
}

.btn-book:hover{
	background-color: var(--blue-grey);
	color: black;
}

.card-body a{
    text-decoration: none;
    color: black;
}

.ls-2{
    letter-spacing: 2.5px;
}

.amenities{
    margin: 0;
}
.amenities p{
    margin: 0;
}

.animate__animated.animate__fadeInLeft{
    --animate-duration: 3s;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}

@media (max-width:480px){
    .cover-home{
        background-position: 80%;
    }
}